.css-1fzpoyk img {
    object-fit: cover !important;
    max-height: none !important;
    height: 450px;
    width: 600px;
}

.css-1qzevvg {
    position: relative;
    display: flex;
    justify-content: center !important;
    height: 30px !important;
    margin: 5px 0 0 !important;
    width: 100% !important;
}

.css-1qzevvg img {
    margin-left: 17px !important;
    margin-right: 17px !important;
}